* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f6f8fa;
}
main {
    padding: 20px;
}
main > *:not(:first-child) {
    margin-top: 20px;
}
h1,
h2 {
    margin: 0;
}
button {
    font-size: 1.4;
    border: 0;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    background: white;
    padding: 10px 20px;
    width: 100%;
}
p {
    font-size: 1.4;
    margin: 0;
}
.box {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    background: white;
}
.box .content.pjsa-target.is-active {
    margin-top: 20px;
}
.box .content > *:not(:first-child) {
    margin-top: 20px;
}